/* media query for header section starts here*/

@media (max-width: 1280px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header-section {
    padding: 2rem;
  }

  .book .arrangements img {
    width: 50%;
    cursor: pointer;
  }

  .book .arrangements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
  }

  section {
    padding: 2rem 9%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem 9%;
  }

  .header-section #hamburger-icon {
    display: initial;
  }

  #nav-times {
    font-size: 4rem;
    color: rgb(255, 136, 0);
    position: absolute;
    display: block;
  }

  #nav-times:hover {
    color: #fff;
  }

  .header-section .nav-section {
    position: absolute;
    top: 100%;
    left: -100%;
    background: rgba(0, 0, 0, 0.9);
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    transition: 0.5s ease;
  }

  .header-section .nav-section.active {
    left: 0;
  }

  .header-section .nav-section a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem 0;
    color: rgb(255, 136, 0);
    text-align: center;
  }

  .header-section .nav-section a:focus {
    color: #fff;
  }

  .header-section .header-icons i {
    padding: 5px;
    font-size: 2.5rem;
  }

  .book-heading span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* media query for header section ends here*/
